body{
    background-color: white;
}

.topnav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#contPanel{
    background-image: url('/img/bg4.jpg') ;
    height: 340px;
}

#layer{
    background-color: rgb(27, 23, 23);
}
